<div class='editor-right'>
    <h4><%= _("Merge with other Article") %></h4>
    <div class='clearfix'>
        Article ID <%= text_field_tag 'merge_with' %>
    </div>
    <%= submit_tag "Merge" %>
</div>
    